<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LPlayerWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LPlayerWPF.Properties.Settings>
            <setting name="currentMovie" serializeAs="String">
                <value>C:\\Users\\Bobo-PC\\DesktopGOT_Best_Scene.mp4</value>
            </setting>
            <setting name="settingsCurrentTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </LPlayerWPF.Properties.Settings>
    </userSettings>
</configuration>